*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    border: 2px solid red;
    background-color: #f5f5f5;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
.nav-list li {
    list-style: none;
}
.icons ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.icons li {
    list-style: none;
}

main{
    clear: both;
}